---
language: ruby
cache: bundler
sudo: false

bundler_args: --without development system_tests --path .vendor

notifications:
  email: false

addons:
  apt:
    packages:
      - rpm

before_install:
  - rm -f Gemfile.lock

jobs:
  include:
    ###  Testing on Travis CI is indefinitely disabled
    ###
    ###  See:
    ###    * https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing
    ###    * https://simp-project.atlassian.net/browse/SIMP-8703
    ###
    ###    - stage: check
    ###      rvm: 2.4.5
    ###      script:
    ###        - bundle exec rake fingerprint
    ###        - bundle exec rake pkg:compare_latest_tag
    ###        - bundle exec rake pkg:create_tag_changelog

    - stage: deploy
      rvm: 2.4.5
      script:
        - true
      before_deploy:
        - "export SPECFILE_VERSION=`rpm -q --specfile build/*.spec --queryformat '%{VERSION}'`"
        - '[[ $TRAVIS_TAG =~ ^${SPECFILE_VERSION}$ ]]'
      deploy:
        - provider: releases
          api_key:
              secure: "h0zRNit7cSozz4TnA/iHupmxVJpftP7z//XC0i8L1O2sorr4xP/PCY2h67vJxd2v+8ACekhtSHnWYyR/6hLMqNzopaIGUBau8dbo8nnVlDP/w3TWQIIxPEMNdfnmelH78EEJt+9AiXpRbJcEy10EJH0SOcQoAdCBN3yshD6VtDHjyIBelGD1Y9gfxtj2ZqzIrMwMU3Gaxr42Gw8pNZrs/5fQJffLpTUKmoBcRvKEtspTJUJFSOKjSIvyIwA8cKBmJW0ImJ1zGwZzRgH4mZANiZzs7O8H0syosUOAbS3zFM3dfye7UajAqvVRhhsn2cxxB/p4Ns7SrATR0qpI0si5/EpBZ7q9yk5V3vd/+Rpa8X8pIY80dJoF4QnXC+T2EEjbS5S0jT3E3QEa3tEY0aVl2ZLOssLqAJQ86ejbVe0hcPKysNW4hXGpOnfZv1RQTUMHiyT+AFwTRe++8zVeVfxzoWT4h+2Ezta25TUGt11NkQWdjLt887mHMT8q5VopiUf+59TRRZTn7J2WnBYSlrJeg2mzOBCzZ8YrmwBYYw7H+88clsCSum4/9Sls1P5NAC+sOAtrMARLe+YIxbytkU/vRUCb8gADMCNIbrN2v8ulGxF4fJ6d58+POIxyJi93Wo5gxsdZiHA0LDu03ixLjUdzNXPu6u+s5kzeb1CL63nj06w="
          skip_cleanup: true
          on:
            tags: true
            condition: '($SKIP_PUBLISH != true)'
